page-intro {
    .image_div {
        width: 200px;
        margin: auto;
    }
    p.contact_mail {
        margin-top: auto;
    }
    
    p.contact_phone {
        margin-top: auto;
    }
    h2.title {
        font-family:cursive;
        margin-bottom: auto;
    }
    .texts {
        font-family: cursive;
    }
    .bottom_page {
        text-align:  center;
        font-size:  smaller;
    }
}
